VITE_API_URL=http://localhost:8000/api
VITE_OPENAI_KEY=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
VITE_YANDEX_MAPS_API_KEY=600f4bea-3a4f-477a-ac15-3e9dfeb2675a
